<!DOCTYPE html>
<html ng-app="my-app">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<script src="main.js"></script>
</head>
<body ng-controller="mainCtrl">
	<input type="number" ng-model="numbers.num1" />
	<input type="number" ng-model="numbers.num2" />

	<button ng-click="add();">+</button>
	<button ng-click="subtract();">-</button>
	<button ng-click="multiply();">*</button>
	<button ng-click="divide();">/</button>

	<p>{{result}}</p>





	<!--<div ng-repeat="list in aList">
		His ID is {{list.id}} and name is {{list.person}}
	</div>
	<!--His ID is {{aList[1].id and name is {{aList[1] .person}}
	<input ng-model="myVar" type="text"/>
	{{myVar}}-->
</body>
</html